<div class="container">
  <div class="comments">
    <% @tweets.each do |tweet| %>
      <div class="divider"></div>
      <div class="section clearfix">
        <p class="tweet_field"><%= tweet.address %></p>
        <%= link_to "削除", tweet_path(tweet), method: :delete,  class: "btn button" %>
      </div>
    <% end %>
  </div>
  <div class="divider last"></div>

  <%= form_for @tweet, html: {id: 'item_form'} do |f| %>
    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">textsms</i>
            <%= f.text_field :address, id: "autocomplete-input", class: "autocomplete, message", placeholder: "メッセージを入力してください" %>
            <% f.label "Autocomplete", for: "autocomplete-input" %>
          </div>
        </div>
      </div>
    </div>

    <%= f.submit "Submit", class: "btn waves-effect waves-light", id: "message_submit", name: "action" %>

  <% end %>
</div>

<script type="text/javascript">
  $(function() {
    function buildHTML(tweet) {
      var html = `
                  <div class="divider"></div>
                  <div class="section clearfix">
                    <p class="tweet_field">${tweet.address}</p>
                    <a data-confirm="削除しますか？" data-method="delete" href="/tweets/${tweet.id}" rel="nofollow" class="btn button">削除</a>
                  </div>
                 `
      return html
    }
    $('#item_form').on("submit", function(e) {
      e.preventDefault();
      var formData = new FormData(this);
      var url = $(this).attr('action');
      // もしinputが date [地名] のインプットだったら
      $.ajax({
        url: url,
        type: 'POST',
        data: formData,
        dataType: 'json',
        processData: false,
        contentType: false,
        success: function(data){
          var html = buildHTML(data);
          $('.comments').append(html);
          $('.message').val('');
          location.reload();
        }
      });
    });
  });
</script>
